/*Diseño de toda la pagina*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff1fa;
}

/*Diseño del menú de navegación*/
header {
  background-color:#6e428f;
  color: white;
  padding: 10px 0;
}

/*Interior menú de navegación*/
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-weight: bold;
}

.top-bar nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/*Ajuste de logo en la barra de navegación*/
.logo{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.logo-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.nombre-marca{
  top:15px;
  left: 109x;
  position: absolute;
}

/*Diseño del contenido de la pagina "productos"*/
/*Apartado que se ajusta al contenido de la pagina*/
.productos {
  background-color: #fceafa; /* fondo claro suave */
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.titulo-productos {
  font-size: 28px;
  color: #6b2c91;
  font-weight: bold;
  margin-bottom: 30px;
  font-style: italic;
}

.Filas {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.producto {
  width: 260px;
  background-color: #fff;
  padding: 15px;
  border: 3px solid #d8b8ec;
  border-radius: 10px;
  transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
  border: 3px solid #6b2c91;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(107, 44, 145, 0.3);
}

.producto img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 8px;
}

.producto p {
  font-weight: bold;
  margin: 10px 0;
  color: #6b2c91;
}


/*Diseño de pie de pagina*/
/*Fondo del pie de pagina*/
footer {
  background-color: #6e428f;
  color: white;
  text-align: center;
  padding: 30px 20px
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  background-color: #a55eb2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 30px;
}

footer input {
  padding: 5px;
  margin-top: 5px;
}

footer button {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #ff94c2;
  border: none;
  color: white;
  border-radius: 5px;
}

footer h4 {
  margin-bottom: 5px;
  text-align: center;
}

/*Estilo de la sección de menú footer*/
footer .MenuF a{
  font-size: 14px;
  margin-left: 30px;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  text-decoration: none;
  color: white;
}

copyright {
  text-align: center;
  margin-top: 20px;
}

/*Estilo de los iconos de las redes*/
footer .icon {
  color: #ff94c2;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px 50px;
  font-size:20px;/*tamaño de las letra*/
  line-height: 1.6;/*Interlineado*/
}